
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Assets/admin/img/city.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">QUẢN LÝ DANH MỤC</h6>
                    <p class="card-description">
                        Phần này quản lý danh mục 
                    </p>
                    <a href="javascript:;" class="btn btn-primary btn-round">ĐI ĐẾN </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Assets/admin/img/city.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">QUẢN LÝ SẢN PHẨM</h6>
                    <p class="card-description">
                        Phần này quản lý sản phẩm
                    </p>
                    <a href="javascript:;" class="btn btn-primary btn-round">ĐI ĐẾN</a>
                </div>
            </div>
        </div>
    </div>
</div>
